---
---

@import "{{ site.theme }}";
.inner {
    width: calc(100% - 32px);
    max-width: 1000px;
}

#main-content ul {
    padding-left: 2em;
}

#main-content li {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 0;
    margin-bottom: 0.25em;
}
